.navbar{
    background: rgb(0, 11, 48);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600
}
ul{
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}