.k{
    width: 100%;
    height: 20%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 480px) {
    .k{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
  }